body {
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

.logo {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 30px;
}

.tool-bar {
	width: 100%;
	line-height: 26pt;
	background-color: rgb(0, 178, 192);
	font-size: 10pt;
}

.tool-bar ul {
	list-style-type:none;
	margin:0;
	padding:0;
	color: white;
}

.tool-bar ul li {
	display: inline;
	cursor: pointer;
}

.main-container {
	min-height: 500px;
	height: 100%;
}

.main-container .title-header {
	color: white;
	position: absolute;
	top: 40px;
	right: 375px;
	z-index: 100000;
	background-color: #7665a0;
	padding: 5px;
	font-size: 10pt;
	border-radius: 5px;
	opacity: 0.5;
}

.main-container .title-header:hover {
	opacity: 1;
}

.main-container .title-header .fileProperty {
	float: left;
	font-weight: bolder;
	padding-right: 10px;
	font-style: italic;
	cursor: pointer;
}

.main-container .title-header .fileTitle {
	cursor: pointer;
	float: left;
}

.main-container .title-header .properties {
	width: 300px;
	overflow-y: auto;
	max-height: 300px;
	display: none;
}

.main-container .scripts-container {
	background-color: white;
	float: left;
	min-width: 450px;
	overflow-y: scroll;
}

.main-container .hMover {
	border-right: 5px solid #D1D1D1;
	float:left;
	/*cursor:e-resize;*/
}

.objectMenu .objectList .object {
	width: 140px;
	overflow-x: hidden;
	margin-left: 5px;
	font-size: 8pt;
	cursor: pointer;
	height:20px;
}

.objectMenu .objectList .object  .objectName {
	overflow-x: hidden;
	width:90px;
	white-space: nowrap;
	text-overflow: ellipsis;
	float:left;
}

.objectMenu .objectList .object .itemIdentifier {
	float:left;
	width: 10px;
	height: 10px;
	margin-right: 2px;
	margin-top: 1px;
	border-radius: 5px;
}

.itemIdentifier {
	background-color: gray;
}

.itemIdentifier[data-type='gameCode'].included {
	background-color: orange;
}

.itemIdentifier[data-type='freeCode'] {
	background-color: rgb(0, 255, 31);
}

.objectMenu .objectList .object  .objectActions {
	padding-left: 2px;
	float:left;
}

.main-container .properties-container {
	background-color: rgb(79, 116, 131);
	min-width: 150px;
	overflow-y: scroll;
}

.main-container .results-container {
	background-color: black;
	float: left;
	width:40%;
	float: left;
	min-width: 300px;
	min-height: 300px;
}

.results-container #testResults-iFrame {
	width: 100%;
	height: 300px;
	border: 0px;
}

.disabled {
	color: gray;
	cursor: default;
}

.fileMenu, .objectMenu/*, .testMenu*/ {
	float: left;
	width: 0px;
	display: none;
	background-color: #F5F5F5;
	overflow-y: auto;
	overflow-x: hidden;
}

.fileMenu ul {
	list-style-type:none;
	padding-left: 15px;
	color: black;
}

.fileMenu ul li {
	cursor: pointer;
	font-size: 10pt;
}

/*.fileMenu ul, .objectMenu ul, .testMenu ul {
	list-style-type:none;
	padding-left: 15px;
	color: black;
}

.fileMenu ul li, .objectMenu ul li, .testMenu ul li {
	cursor: pointer;
	font-size: 10pt;
}*/

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.objectsActionBar, .includesActionBar, .resourcesActionBar {
	margin: 5px;
	font-size: 10pt;
	color: white;
}

.includesList {
	font-size: 8pt;
}

.newAudio {
	background-color: rgb(163, 0, 255);
	border-radius: 2px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.newImage {
	background-color: rgb(0, 194, 255);
	border-radius: 2px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.newObject {
	background-color: orange;
	border-radius: 2px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.newFreeCode {
	background-color: rgb(0, 255, 31);
	border-radius: 2px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.removeObject {
	background-color: rgb(243, 104, 104);
	border-radius: 2px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}

span.innerTitleMenu {
	color: black;
	font-weight: bold;
	font-size: 11pt;
	line-height: 23pt;
}

.errorConsole {
	background-color: rgb(122, 122, 248);
	height: 25px;
	z-index: 100000;
	position: absolute;
	bottom: 0;
	border-top-left-radius: 4px;
	/*border-top-right-radius: 4px;*/
	padding: 5px;
	overflow:hidden;
}

.errorConsole .errorContainer {
	overflow-y: auto;
	height: 120px;
}

.errorConsole .innerTitleMenu {
	cursor: pointer;
	color: white;
}

.singleLineError {
	font-size: 10pt;
	padding-left: 10px;
	border-bottom: 1px solid rgb(197, 197, 197);
}

hr {
	border-style: solid;
	border-width: 1px;
	border-color: #E9E9E9;
}

span.underlined {
	text-decoration: underline;
}

span.testMenu {
	display: none;
}

span.runProject {
	background-color: #30DF37;
	padding: 5px;
	margin: 5px;
	border-radius: 3px;
	color: black;
	font-size: 8pt;
	cursor: pointer;
}

span.runProjectWithDebugger {
	background-color: #FC7575;
	padding: 5px;
	border-radius: 3px;
	color: black;
	font-size: 8pt;
	cursor: pointer;
}

li.testMenuItem, li.objectMenuItem, li.fileMenuItem {
	padding: 10px;
}

li.testMenuItem:hover, li.objectMenuItem:hover, li.fileMenuItem:hover {
	background-color: rgb(67, 182, 226);
	border-radius: 5px;
}

.popoutIcon {
	position: absolute;
	top: 40px;
	right: 5px;
	z-index: 10000000;
	background-color: white;
	padding: 3px;
	border-radius: 3px;
	cursor: pointer;
}

.ui-dialog-title {
	font-size: 10pt;
	color: #000000 !important;
	font-family: arial;
}

.ui-button-text {
	font-size: 10pt;
	font-family: arial;
}

textarea {
	resize: none;
}