.title {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 10px;
	background-color: aliceblue;
	font-weight: bolder;
	font-style: italic;
	font-size: 14pt;
}

.description {
	font-size: 10pt;
	background-color: antiquewhite;
	padding: 15pt;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.usage {
	font-size: 10pt;
	padding: 25px;
	background-color: darkgray;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.content {
	font-family: arial;
	float: left;
	width: 50%;
}

.subtitle { 
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 10px;
	background-color: bisque;
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
}

.divition {
	margin-top: 10px;
}

.tableOfContent {
	font-size: 16pt;
	display: inline-block;
}

.tableOfContent ul {
	font-style: italic;
	font-size: 10pt;
}

ul {
	float: left;
	margin-right: 50px;
	font-family: arial;
	font-weight: 100;
	font-size: 12pt;
	list-style-type: none;
	padding: 0;
	margin-left: 10px;
}

a { text-decoration: none; }

hr {
	border-style: dashed;
	color: crimson;
}